Source: nautilus-crusher
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-crusher
Architecture: all
Depends:
    python3,
    python3-gi,
    python3-cairo,
    python3-nautilus,
    gir1.2-nautilus-3.0,
    gir1.2-gtk-3.0,
    python3-plumbum,
    nanecalib,
    secure-delete
Description: An extension to crush files
 An extension for Nautilus to crush files
